* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  text-align: center;
  font-size: x-large;
  color: red;
  font-weight: 700;
}

.input-field {
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  margin: 5px 10px;
  border-radius: 10px;
  border: 2px solid rgb(9, 156, 46);
}

.add-btn {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  border-style: none;
  background-color: rgb(9, 156, 46);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-btn:hover {
  transform: scale(1.05);
}

.add-btn:active {
  transform: scale(.90);
}

.items-list {
  color: black;
}

.list-elements {
  margin: 10px 0;
}

.items-btn {
  padding: 12px 15px;
  margin: 0 10px;
  border-radius: 50%;
  border-style: none;
  background-color: rgb(226, 85, 85);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.items-btn:hover {
  transform: scale(1.10);
}

.items-btn:active {
  transform: scale(0.8);
}
















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
